.box1{
    display: flex;
    margin-bottom: 60px;
}
#box1a{
    margin-left:15%;
    margin-top:35px;
    
}  
#box1b{
    width: 400px;
    margin-left:18%;
    margin-top: 25px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
    
}
.imgs img{
    height: 300px;
    width:200px;
}
.imgs{
   
    display: flex;
    flex-wrap:wrap;
    margin: 40px;
}

.imgs> div {
    display: block;
    width: 250px; 
    margin:30px;     
}
.imgs> div >p {
    margin-top: 0;
    margin-left: 3px;  
    padding: 0%;
    margin:0%;    
}
.imgs> div> aside {
   transform-origin:right;
   transform: rotate(90deg);
   text-transform: uppercase;
   left: -40px;
   top:-60px;
   position: relative;
   font-size: 15px;
}
.imgs div:nth-child(2n){
    margin-top: 18%;
}


@media screen and (max-width: 1000px) {
    .box1{
        display: block; }
    #box1a{
    margin:30px;
}
    #box1b{ 
    width:80%;
    margin:30px;}

    .imgs img{
        height:130px;
        width:90px;
        margin: 0;
    }
   
    .imgs div{
        max-width: 100px;
        margin:7%;
    }
   

    .imgs> div> aside {
        transform-origin:right;
        transform: rotate(90deg);
        font-size: 10px;
        left: -3px;
        top:-40px;
        position: relative;
     }
     .imgs div:nth-child(2n){
         margin-top: 18%;
     }
    }