@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.box1{
    display: flex;
    margin-bottom: 60px;
}
#box1a{
    margin-left:15%;
    margin-top:35px;
    font-family: 'Poppins', sans-serif;
    width:30%;
    
}  
#box1b{
    width: 500px;
    margin-left:8%;
    margin-top: 25px;
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    
    
}
.imgs img{
    max-width: 80%;
      
}
.imgs{
    display: flex;
    flex-wrap:wrap;
    margin-left: 15%;
    margin-right:0%;

}

.imgs> div {
    display: block;
    width: 25%; 
    margin:30px;     
}
.imgs> div >p {
    margin-top: 0;
    margin-left: 3px;  
    padding: 0%;
    margin:0%;    
    font-family: 'Poppins', sans-serif;
}
.imgs> div> aside {
   transform-origin:right;
   transform: rotate(90deg);
   text-transform: uppercase;
   left: -30px;
   top:-80px;
   position: relative;
   font-size: 15px;
   font-family: 'Poppins', sans-serif;
}
.imgs div:nth-child(2){
    margin-top: 18%;
}
.imgs div:nth-child(5){
    margin-top: 18%;
}

footer{
    text-align:center;
    margin-top: 5%;
    margin-left: 5%;
    font-size:18px;
    font-weight: 600;
}
@media screen and (max-width: 800px) {
    
    .box1{
        display: block; }
    #box1a{
    margin:30px;
    
}
    #box1b{ 
    width:80%;
    margin:30px;
    }

    .imgs img{
        max-width: 100%;
        margin: 0;
       
    }
   
    .imgs div{
        max-width: 100px;
        margin:7%;
    }
   
    .imgs> div> aside {
        transform-origin:right;
        transform: rotate(90deg);
        font-size: 8px;
        left: 5px;
        top:-60px;
        position: relative;
     }
     .imgs div:nth-child(2n){
         margin-top: 18%;
     }
    }